<div *ngIf="!isLoggedId">
  <input [(ngModel)]="wallet_id" placeholder="Wallet ID" style="margin: 1em;">
  <br>
  <input [(ngModel)]="customer_name" placeholder="Customer Name" style="margin: 1em;">
  <br>
  <input [(ngModel)]="customer_address" placeholder="Customer Address" style="margin: 1em;">
  <br>
  <button (click)="registerUser()" style="margin: 1em;">REGISTER!</button>
</div>

<div *ngIf="isLoggedId">
  <h3>Allready logged in with Walled ID: <u>{{wallet_id}}</u>!</h3>
  <button (click)="logout()" style="margin: 1em;">LOGOUT</button>
</div>
